<div class="container mt-4">
  @if (task()) {
  <div class="card shadow border-0" style="border-radius: 16px; overflow: hidden;">

    <nav class="navbar navbar-expand-lg navbar-dark py-3 px-2" style="background-color: #2f2f3a; border: none;">
      <div class="container-fluid">
        <h2 class="navbar-brand mb-0 fw-semibold">{{ task().title }}</h2>

        <div class="navbar-nav gap-2">
          <button class="nav-link btn btn-link d-flex align-items-center gap-1" [routerLink]="['/tasks']">
            <i class="bi bi-house-door"></i> Indietro
          </button>

          <button class="nav-link btn btn-link d-flex align-items-center gap-1"
            [routerLink]="['/tasks/edit', task().id]">
            <i class="bi bi-pencil-square"></i> Modifica Task
          </button>
        </div>
      </div>
    </nav>

    <div class="card-body p-4 d-flex flex-column">

      <p [style.color]="task().description ? '#6b6f85' : '#d1d1d1'" style="line-height: 1.6;">
        {{ task().description ? task().description : 'Nessuna descrizione fornita'}}
      </p>

      <!-- BLOCCO CHE VA IN FONDO -->
      <div class="task-footer">
        <div class="col-12">
          <div class="row g-3 text-muted small">

            <div class="col-12 col-md-6 col-lg-3">
              <strong>Creata il</strong><br>
              {{ task().createdAt | date:'dd/MM/yyyy HH:mm' }}
            </div>

            <div class="col-12 col-md-6 col-lg-3">
              <strong>Scadenza</strong><br>
              {{ task()?.deadline
              ? (task().deadline | date:'dd/MM/yyyy HH:mm')
              : 'X' }}
            </div>

            <div class="col-12 col-md-6 col-lg-3">
              <strong>Durata stimata</strong><br>
              {{ formattedDuration() }}
            </div>

            <div class="col-12 col-md-6 col-lg-3">
              <strong>Priorità</strong><br>
              {{ task().priority }}
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  } @else {
  <div class="text-center mt-5">
    <div class="spinner-border" style="color: #7b6cff;" role="status"></div>
    <p class="mt-2" style="color: #6b6f85;">Caricamento dati del task...</p>
  </div>
  }
</div>