td.title, td.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.title {
  max-width: 180px;
}

td.description {
  max-width: 400px;
}

.clickable {
  cursor: pointer;
}

