<main class="main">
  <div class="container mt-4">
    <div class="card shadow border-0" style="border-radius: 16px; overflow: hidden;">

      <app-task-navbar></app-task-navbar>

      <div class="card-body p-3">

        <table class="table table-hover align-middle mb-4">
          <thead class="table-primary">
            <tr class="text-center">
              <th style="width: 50px;">ID</th>
              <th style="width: 180px;">Titolo</th>
              <th style="width: 400px;">Descrizione</th>
              <th style="width: 120px;">Stato</th>
              <th style="width: 150px;">Azioni</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor="let task of taskList()">
              <td>{{ task.id }}</td>
              <td class="title clickable" [routerLink]="['/tasks/task', task.id]">
                <strong>{{ task.title }}</strong>
              </td>
              <td class="description clickable" [routerLink]="['/tasks/task', task.id]">
                {{ task.description }}
              </td>
              <td>
                <span class="badge clickable shadow-sm" [ngStyle]="{
                    'background-color': task.status === 'TODO' ? '#f7eb7c' : '#8aeb9c',
                    'color': 'black'
                  }" style="border-radius: 8px; padding: 0.5rem 0.8rem;" (click)="updateStatus(task)">
                  {{ task.status }}
                </span>
              </td>

              <td class="d-flex justify-content-center gap-2">
                <button class="btn btn-sm" (click)="removeTask(task.id)"
                  style="background-color: #e4636e; border: none; border-radius: 8px;">
                  <svg fill="#000000" width="20px" height="20px" viewBox="0 0 41.336 41.336">
                    <path
                      d="M36.335,5.668h-8.167V1.5c0-0.828-0.672-1.5-1.5-1.5h-12c-0.828,0-1.5,0.672-1.5,1.5v4.168H5.001c-1.104,0-2,0.896-2,2 s0.896,2,2,2h2.001v29.168c0,1.381,1.119,2.5,2.5,2.5h22.332c1.381,0,2.5-1.119,2.5-2.5V9.668h2.001c1.104,0,2-0.896,2-2 S37.438,5.668,36.335,5.668z M14.168,35.67c0,0.828-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5v-21c0-0.828,0.672-1.5,1.5-1.5 s1.5,0.672,1.5,1.5V35.67z M22.168,35.67c0,0.828-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5v-21c0-0.828,0.672-1.5,1.5-1.5 s1.5,0.672,1.5,1.5V35.67z M25.168,5.668h-9V3h9V5.668z M30.168,35.67c0,0.828-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5v-21 c0-0.828,0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5V35.67z">
                    </path>
                  </svg>
                </button>

                <a [routerLink]="['/tasks/edit', task.id]" class="btn btn-sm"
                  style="background-color: #adcae9; border: none; border-radius: 8px;">
                  <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M17.0671 2.27157C17.5 2.09228 17.9639 2 18.4324 2C18.9009 2 19.3648 2.09228 19.7977 2.27157C20.2305 2.45086 20.6238 2.71365 20.9551 3.04493C21.2864 3.37621 21.5492 3.7695 21.7285 4.20235C21.9077 4.63519 22 5.09911 22 5.56761C22 6.03611 21.9077 6.50003 21.7285 6.93288C21.5492 7.36572 21.2864 7.75901 20.9551 8.09029L20.4369 8.60845L15.3916 3.56308L15.9097 3.04493C16.241 2.71365 16.6343 2.45086 17.0671 2.27157Z"
                      fill="#000000"></path>
                    <path
                      d="M13.9774 4.9773L3.6546 15.3001C3.53154 15.4231 3.44273 15.5762 3.39694 15.7441L2.03526 20.7369C1.94084 21.0831 2.03917 21.4534 2.29292 21.7071C2.54667 21.9609 2.91693 22.0592 3.26314 21.9648L8.25597 20.6031C8.42387 20.5573 8.57691 20.4685 8.69996 20.3454L19.0227 10.0227L13.9774 4.9773Z"
                      fill="#000000"></path>
                  </svg>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between align-items-center mt-3">
          <div class="text-secondary small">
            Pagina <strong>{{ totalPages() === 0 ? '-' : currentPage + 1 }}</strong> di
            <strong>{{ totalPages() }}</strong>
          </div>

          <nav class="mb-2" aria-label="Navigazione pagine">
            <div class="pagination gap-2">
              <button class="btn btn-sm px-3 fw-medium transition-all"
                style="border-radius: 8px; border: 1px solid #dee2e6; background-color: white; color: #7b6cff;"
                (click)="loadTasks(currentPage - 1)" [disabled]="currentPage === 0 || totalElements() === 0">
                &laquo; Precedente
              </button>

              <button class="btn btn-sm px-3 fw-medium transition-all"
                style="border-radius: 8px; border: 1px solid #dee2e6; background-color: white; color: #7b6cff;"
                (click)="loadTasks(currentPage + 1)"
                [disabled]="currentPage + 1 >= totalPages() || totalElements() === 0">
                Successiva &raquo;
              </button>
            </div>
          </nav>
        </div>

      </div>
    </div>
  </div>
</main>